@model IEnumerable<BD_Projekt_V2.Klienci>

@{
    ViewBag.Title = "Index";
}

<h2>Lista klientów</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Haslo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WWW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Haslo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WWW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodPocztowy)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id=item.KlientId }) |
            @Html.ActionLink("Usuwanie", "Delete", new { id=item.KlientId })
        </td>
    </tr>
}

</table>
